#root {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #393937bf;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#window {
  margin: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

#nav {
  padding-top: 0;
  height: 100%;
}

#nav #nav-container {
  display: flex;
  justify-content: flex-start;
  gap: 1.25rem;
  align-items: center;
  padding: 1.25rem 2.5rem;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  #root {
    grid-template-rows: 10vh 85vh 5vh;
  }

  #window {
    margin: 0;
    border-radius: 0 0 2.5rem 2.5rem;
    margin: 0 auto;
    max-width: 77.5rem;
  }

  #nav {
    height: 100%;
    padding-top: 1.25rem;
  }

  #nav #nav-container {
    padding: 1rem;
    max-width: 77.5rem;
    border-radius: 2.5rem 2.5rem 0 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
