#root {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #393937bf;
  overflow: hidden;
  display: grid;
  grid-template-rows: 10vh 85vh 5vh;
}

#window {
  border-radius: 0 0 2.5rem 2.5rem;
  margin: 0 auto 2.5rem;
  max-width: 77.5rem;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

#nav {
  padding-top: 1.25rem;
  height: 100%;
}

#nav #nav-container {
  display: flex;
  justify-content: flex-start;
  gap: 1.25rem;
  align-items: center;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 1.25rem 2.5rem;
  margin: 0 auto;
  max-width: 77.5rem;
  width: 100%;
}
